@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: black; */
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}

.nav {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}
